<% provide :title, t("help.title") %>
<h1><%= t("help.title") %></h1>
<p>
    <%= t("help.tutorial_intro") %>
    <%= link_to(t("help.tutorial_help_link"), "http://www.railstutorial.org/help") %>.
    <%= t("help.tutorial_intro") %>
    <%= link_to href:"http://www.railstutorial.org/book" do %>
        <em>Ruby on Rails Tutorial</em> <%= t("help.tutorial_book") %>
    <% end %>
</p>
