<p style="color: green"><%= notice %></p>

<h1><%= t("products.index.title") %></h1>
<table>
  <thead>
    <tr>
    <th><%= t("products.index.name") %></th>
    <th colspan="3"></th>
    </tr>
  </thead>

    <body>
      <%= render(@products) || t("products.index.no_product") %>
    </body>
</table>


<%= link_to t("products.index.new_product"), new_product_path %>
